body {
    margin:  0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(92, 92, 165);
}

main{
    min-height: 80vh;
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgb(203, 203, 250);
    box-shadow: 0 0 15px rgb(58, 58, 58);
}

div {
    padding: 20px;
}

img {
    width: 150px;
    height: 150px;
}

img:hover {
    opacity: 75%;
}

p {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.players-charactures {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.choice-el {
    display: flex;
    flex-direction: column;
}

.winner {
    padding-bottom: 20px;
}

.main-game {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.house-animation-img {
    display: flex;
    animation-name: fadeImg;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.house-animation-img img {
    width: 75vw;
    height: 75vh;
}

@keyframes fadeImg {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.story-el-one {
    display: none;
    opacity: 0.0;
    animation: textOne 3s forwards;
}

@keyframes textOne {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.story-el-two {
    display: none;
    animation: textTwo 4s 7s forwards;
}

@keyframes textTwo {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

